/* navbar */
.navbar-primary .navbar {  }
.navbar-primary .navbar .nav > li > a {color: white;}
.navbar-primary .navbar .nav > li:hover {background-color: darkgray !important;}
/*.navbar-primary .navbar .nav .active > a,.navbar .nav .active > a:hover {color: #fff; background-color: #501762;}*/
/*.navbar-primary .navbar .nav li > a .caret, .tnav .navbar .nav li > a:hover .caret {border-top-color: #fff;border-bottom-color: #fff;}*/
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover {}
.navbar-primary .navbar .nav > li.dropdown.open > a {color: #fff;background-color: #9f58b5;border-color: #fff;}
.navbar-primary .navbar .nav > li.dropdown.open.active > a:hover .caret, .tnav .navbar .nav > li.dropdown.open > a .caret {border-top-color: #fff;}
.navbar-primary .navbar .navbar-brand {color:#fff;}
.navbar-primary .navbar .nav.pull-right {margin-left: 10px; margin-right: 0;}
.navbar-xs .navbar-primary .navbar { min-height:28px; height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 28px; }
.navbar-xs .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 28px; }
.navbar-sm .navbar-primary .navbar { min-height:40px; height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-brand{ padding: 0px 12px;font-size: 16px;line-height: 40px; }
.navbar-sm .navbar-primary .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }

.navbar-bg-color{ background-color: rgb(45,49,60) !important; border-bottom:none; }

.toUpper{ text-transform: uppercase !important; }

.img-overlay{
	position: absolute;
	background-color: rgba(0,0,0,0.4); 
	top: 0px; 
	right: 0px; 
	bottom: 0px; 
	left: 0px;
}

.w3-grey2{ background-color: rgb(64,64,66) !important; }
.w3-border-grey2{ border-color: rgb(64,64,66) !important; }
.w3-text-grey2{ color: rgb(64,64,66) !important; }

.w3-hover-shadow{ cursor: pointer; }

.footer-menu-btn{ min-width: 150px !important; text-transform: uppercase !important; }
#navbar2.affix, #navbar2{ width: 100% !important; }

